*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url("../images/background.jpg");
	font-family: 'thabit', sans-serif;
}
             /***********header*************/
h1{
	color: #232b37;
	text-align: center;
	position: absolute;
	right: 270px;
	top: 55px;
	font-size: 40px;
}
header{
	background-color: #882424 ;
	height: 170px;
	position: relative;
}
header img {
	height: 110px;
	width: 170px;
	position: absolute;
	right: 60px;
	top: 35px;
	 border-radius: 50%;
}
             /************end header************/

            /*************main*****************/
.restImgDiv{
	position: relative;
	width: 100%;
	height: 450px;
}
.restImg{
	width: 70%;
	height: 450px;
	padding: 15px 15px 15px 15px;
	border-radius: 5%;
	position: absolute;
	left: 200px;
}

.row{
	height: 300px;
}
.row1 , .row2{
	width: 30%;
	float: left;
	position: relative;
    left: 235px;
    margin: 15px 15px 15px 15px;
}
#breakfast-tile , #lunch-tile {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  overflow: hidden;
 }
#breakfast-tile {
  background :url('../images/breakfast.jpg') no-repeat ;
   background-size: 405px 250px;
  background-position: center;
}
 #lunch-tile {
  background : url('../images/lunch.jpg') no-repeat;
  background-size: 405px 250px;
  background-position: center;
 }
  #breakfast-tile span , #lunch-tile span  {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100% ;
    text-align: center;
    font-size: 1.6em;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
nav{
	text-align: center;
}
              /************end main************/

             /*************footer*************/
footer{
	position: relative;
	margin-top: 10px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #232b37;
    border-top: 0;
    height: 150px;
}
footer .menu ,footer .orders , footer .call{
    position: absolute;
    font-size: 25px;
}
footer .menu{
    right: 200px;	
}
footer .orders
{
    right: 200px;
    top: 80px;
}
footer .call{
	right: 1050px;
    top: 50px;
} 
.menu a:hover  , .orders a:hover, .main a:focus ,.orders a:focus , .call a:hover  , .call a:focus{
    text-decoration: none;
}
.menu a , .orders a , .call a{
	 text-decoration: none;
	 color: #371212;
	 font-weight: bold;
}
.call div{
	color: #371212;
	font-weight: bold;
}
.call a{
    display: block;
    border: 2px solid #555;
    background-color: #371212;
    color: #232b37;
    height: 40px;
    width: 200px;
}
              /**********end footer************/